html, body {
    font-family: 'Times New Roman', Georgia;
    font-size: 14pt;
    line-height: 1.42857;
    background-color: #f8f8f8;
    margin-left: 10%;
    margin-right: 10%;
}

#header_top {
    margin: 30px auto;
    font-weight: bold;
}

.header_logo {
    background: radial-gradient(circle farthest-corner at 230px 100px, #999999, #111111);
    border-radius: 12px;
    color: #F4A460;
    padding-left: 50px;
}

h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

p[class="briefdescription"] {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

p[class="description"] {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

p[class="briefdescription"]:first-letter, p[class="description"]:first-letter {
    font-family: "Broadway";
    font-size: 30px;
    color: #F4A460;
}


/* Контакты */
input[class="contact"] {
    color: #484343;
    font-family: 'Times New Roman', Georgia;
    font-size: medium;
    width: 300px;
    height: 20px;
    margin-bottom: 5px;
}

input[type="email"]:focus {
    background-color: #F4A460;
    color: #999999;
    text-transform: lowercase;
}

input[type="text"] {
    text-transform: capitalize;
}

textarea[class="contextarea"] {
    color: #484343;
    font-family: 'Times New Roman', Georgia;
    font-size: medium;
    width: 300px;
    height: 50px;
    margin-bottom: 5px;
}




ul, table {
    list-style-image: url('../images/knewstuff.png');
    color: #777777;
    font-size: 14px;
}

.td_to_right {
    width: 200px;
    text-align: right;
}

img {
    width: 200px;
    height: 200px;
}


/* Каталог продуктов */
img[class="img_product_cat"]{
    width: 400px;
    height: 400px;
    border: 2px solid #F4A460;
    border-radius: 20px 0 20px 0;
}

img[class="img_product_cat"]:hover{
    border: 2px solid #f8f8f8;
}

.container {
    /*width: 960px;*/
    margin: 20px auto 0 auto;
    background: #999999;
    overflow: hidden;
}

.productUnit {
    width: 30%;
    float: left;
    margin-right: 5%;
    height: 200px;
    background: #F4A460;
    margin-top: 20px;
}


/* Подвал документа */
#page_footer {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    float: right;
    color: #777;
    font-size: 9pt;
}
#page_footer a:link, #page_footer a:visited, #page_footer a:visited,
#page_footer a:active, #page_footer a:hover {
    font-size: 9pt;
    color: #777;
    text-decoration: none;
}